<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD82ggcpCYyZj5zNI7AQbW0Dmz1Acs7JYs</string>
	<key>GCM_SENDER_ID</key>
	<string>360435782985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cleanup.swipewipe</string>
	<key>PROJECT_ID</key>
	<string>off-player</string>
	<key>STORAGE_BUCKET</key>
	<string>off-player.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360435782985:ios:85e69b5da95b1af638b698</string>
</dict>
</plist>